<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User login success</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div style="width: 500px; margin: 45px;">
		<h4>Success! User {{username}} is logged in!</h4>
        <br />
        <a href="{% url 'logout' %}">Go back to login page (logout)</a>
		<a style="text-decoration: underline; float: right;" href="{% url 'qrcode' %}">Activate Multi-Factor Authentication</a>
	</div>
    
	<script>
	</script>
</body>
</html>
