<!DOCTYPE html>

{% load widget_tweaks %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div style="width: 500px; margin: 45px auto;">
		<h4 style="text-align: center;">User Login</h4>
		<form method="post">
			{% csrf_token %}
			<span style="color: red;">{{ form.username.errors }}</span>
			<div class="form-group">
				{{ form.username.label_tag }}
				{% render_field form.username class="form-control" %}
			</div>
			<div class="form-group">
				{{ form.password.label_tag }}
				{% render_field form.password class="form-control" %}
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-warning btn-lg btn-block">Login</button>
			</div>
		</form>
		<br/>
		<h4><a style="text-decoration: underline; float: right;" href="{% url 'signin' %}">Sign in</a></h4>
	</div>
	<script>
	</script>
</body>
</html>
