<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Enable login MFA</title>
</head>
<body>
    <main>
        <div style="width: 500px; margin: 45px;">
            <form action="/qrcode-check" method="post">
                {% csrf_token %}
                <label for="totp_input">Check MFA</label>
                {% csrf_token %}
                <input type="hidden" name="secret_key" id="secret_key" value="{{secret_key}}">
                <input class="form-control" type="text" name="totp_input" id="totp_input" placeholder="Write the 6 digits code">
                <br/>
                <button class="btn btn-light">Check</button>
            </form>
        </div>
    </main>
</body>
</html>